
.table{
  border: 1px solid rgba(110, 31, 136, 0.50);
  background: rgba(231, 182, 246, 0.50);
}

.mineBtn {
  height: 30px;
  width: 30px;
  background-color: gold;
  border: 1px solid black
}
.turned {
  height: 30px;
  width: 30px;
  border: 1px solid black
}
.error{
  color: red;
}
.submitBtn{
  display: none;
}

#gameInterrupted{
  display: none
}