@font-face {font-family:"LED";src:url("../fonts/LED/LED.eot?") format("eot"),url("../fonts/LED/LED.woff") format("woff"),url("../fonts/LED/LED.ttf") format("truetype"),url("../fonts/LED/LED.svg#LED") format("svg");font-weight:normal;font-style:normal;}
.background {
    background-image: url('../images/backgroundweb.svg');
    min-height: 100vh;
    min-width: 50vh;;
    background-size: cover;
    position: relative;
    z-index: 0
}

body, html {
    height: 100%;
    margin: 0px;
}

h1,h3,label {
    color: white !important;
}

.heading{
    color: yellow;
}

#frm {
    margin: 150px 10px 20px 10px;
}

#planet {
    margin-top: 50px;
    margin-left: 45%;
    position: absolute;
    height: 150px;
    width: 160px;
    animation: draaien 20s ease-in-out 5s infinite;
  }

#clock{
    font-family:'LED';
    color: red;
    font-size: 4rem;
  }
  
@keyframes draaien {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }

.buttonhide{
    display: none;
  }
.buttonhide1{
    display: none;
  }

#btn_restart,#btn_pause{
      display:none;
  }

#btn_players {
  margin: 20px;
}

.tableopacity {
  animation: verschijn 0.5s ease-in-out forwards;
}

@keyframes verschijn {
  from {
    opacity: 0;
  }

  to{
    opacity: 1;
  }
}



td {
    color: white;
    font-size: 20px;
    font-family: 'Ubuntu Mono', monospace;
    background-color: rgba(231, 182, 246, 0.50);
  }


@keyframes fa0 {
    0%   { opacity:1; }
    50%  { opacity:1; }
    51%  { opacity:0; }
    52%  { opacity:1; }
    100% { opacity:1; }
  }
  
.f0 {
      animation: fa1 10s infinite;
      width: 2px;
          height: 2px;
  }

@keyframes fa1 {
    0%   { opacity:1; }
    10%  { opacity:1; }
    21%  { opacity:0; }
    32%  { opacity:1; }
    100% { opacity:1; }
  }
  
  .f1 {
      animation: fa1 15s infinite;
      width: 1px;
          height: 1px;
  }
  
  @keyframes fa2 {
    0%   { opacity:.8; }
    75%  { opacity:.8; }
    85%  { opacity:0; }
    95%  { opacity:.8; }
    100% { opacity:.8; }
  }
  
  .f2 {
      animation: fa2 5s infinite;
      width: 2px;
          height: 2px;
  }
  
  @keyframes fa3 {
    0%   { opacity:.4; }
    11%  { opacity:.4; }
    32%  { opacity:0; }
    53%  { opacity:.4; }
    100% { opacity:.4; }
  }
  
  .f3 {
      animation: fa3 8s infinite;
      width: 1px;
          height: 1px;
  }
  
  @keyframes fa4 {
    0%   { opacity:.2; }
    50%  { opacity:.2; }
    61%  { opacity:0; }
    72%  { opacity:.2; }
    100% { opacity:.2; }
  }
  
  .f4 {
      animation: fa4 10s infinite;
      width: 3px;
          height: 3px;
  }
  
  @keyframes fa5 {
    0%   { opacity:.6; }
    20%  { opacity:.6; }
    51%  { opacity:0; }
    82%  { opacity:.6; }
    100% { opacity:.6; }
  }
  
  .f5 {
      animation: fa5 10s infinite;
    width: 1px;
    height: 1px;
}

@keyframes fa2 {
    0% {
        opacity: .8;
    }
    75% {
        opacity: .8;
    }
    85% {
        opacity: 0;
    }
    95% {
        opacity: .8;
    }
    100% {
        opacity: .8;
    }
}

.f2 {
    animation: fa2 5s infinite;
    width: 2px;
    height: 2px;
}

@keyframes fa3 {
    0% {
        opacity: .4;
    }
    11% {
        opacity: .4;
    }
    32% {
        opacity: 0;
    }
    53% {
        opacity: .4;
    }
    100% {
        opacity: .4;
    }
}

.f3 {
    animation: fa3 8s infinite;
    width: 1px;
    height: 1px;
}

@keyframes fa4 {
    0% {
        opacity: .2;
    }
    50% {
        opacity: .2;
    }
    61% {
        opacity: 0;
    }
    72% {
        opacity: .2;
    }
    100% {
        opacity: .2;
    }
}

.f4 {
    animation: fa4 10s infinite;
    width: 3px;
    height: 3px;
}

@keyframes fa5 {
    0% {
        opacity: .6;
    }
    20% {
        opacity: .6;
    }
    51% {
        opacity: 0;
    }
    82% {
        opacity: .6;
    }
    100% {
        opacity: .6;
    }
}

.f5 {
    animation: fa5 10s infinite;
    width: 1px;
    height: 1px;
}

@keyframes fa6 {
    0% {
        opacity: .2;
    }
    50% {
        opacity: .2;
    }
    51% {
        opacity: 0;
    }
    52% {
        opacity: .2;
    }
    100% {
        opacity: .2;
    }
}

.f6 {
    animation: fa1 20s infinite;
    width: 2px;
    height: 1px;
}

@keyframes fa7 {
    0% {
        opacity: .5;
    }
    50% {
        opacity: .5;
    }
    60% {
        opacity: 0;
    }
    80% {
        opacity: .5;
    }
    100% {
        opacity: .5;
    }
}

.f7 {
    animation: fa7 17s infinite;
    width: 1px;
    height: 2px;
}

@keyframes fa8 {
    0% {
        opacity: .9;
    }
    20% {
        opacity: .9;
    }
    51% {
        opacity: 0;
    }
    82% {
        opacity: .9;
    }
    100% {
        opacity: .9;
    }
}

.f8 {
    animation: fa8 10s infinite;
    width: 2px;
    height: 2px;
}

@keyframes fa9 {
    0% {
        opacity: .1;
    }
    70% {
        opacity: .1;
    }
    75% {
        opacity: 0;
    }
    80% {
        opacity: .1;
    }
    100% {
        opacity: .1;
    }
}

.f9 {
    animation: fa9 15s infinite;
    width: 2px;
    height: 2px;
}

.star {
    position: absolute;
    background: gold;
    /* background: #a7a9ac; */
    /* z-index: 0; */
}


#btn_startGame{
    opacity: 0;
    z-index: 100;
    margin-top: 10px;
}

.verschijn2{
  animation: verschijn2 1.0s ease-in-out 0s forwards;
}

@keyframes verschijn2 {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
  
}

#pauseimage{
    margin: auto;
    width: 100%;
    height: 100%;
}


.clockMines{
    margin-top: 100px;
}

.knoppendiv{
    margin-top: 20px;
}
.atagBox{
    border-radius: 10px;
    border: 1px solid white;
    width: 200px;
    margin-bottom: 10px;
    visibility: hidden;
}
.atag{
    color: white;
    font-size: 2rem;
    text-align: center;
    padding: 5 auto;

   
}

.atag:hover{
    color: red;
    font-size: 2rem;
   text-decoration: none;
}

/* ////// overlays ///// */

.pauseanimate{
    animation: pause 0.5s ease-in-out forwards
}

@keyframes pause {
    0%{
        width: 0%;
        height: 0%;
        margin: auto;
        /* transform: rotate(0deg); */
        opacity: 0;
    }
    100%{
        width: 100%;
        height: 100%;
        margin: auto;       
        /* transform: rotate(360deg); */
        opacity: 1;
    }
}
/* #tableBody{
    z-index: 50
} */
.winOverlay{
    position: absolute;
    left: 25%;
    bottom: 25%;
    width: 50%;
    z-index: 100;
}
.lostOverlay{
    position: absolute;
    left: 42%;
    bottom: 25%;
    height: 50%;
    z-index: 100;
}

#game{
    width: 100%;
    position: relative;
}