.background {
    background-image: url('../images/backgroundweb.svg');
    min-height: 100vh;
    min-width: 50vh;
    background-size: cover;
  }

  h1,h2,h3,label{
    color: white !important;

  }

  body,html{
    height: 100%;
}


#titel {
    margin-top: 10%;
}

.planet {
  position: relative;
}
#planet {
  left: 100px;
  top: 100px;
  position: absolute;
  height: 150px;
  width: 160px;
  animation: draaien 20s ease-in-out 5s infinite;
}

@keyframes draaien {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

#spaceship {
  height: auto;
  width: 6%;
  position: absolute;
  transform: rotate(45deg)
}

.spaceship {
  animation: vliegen 10s ease-in-out 0s infinite;
}

@keyframes vliegen {
  0% {
    left: -150px;
    top: 500px;
  }
  100%{
    left: 500px;
    top: -300px;
  }
}

#mineBtn {
    margin: 50px;
    height: 300px;
    width: 250px;
    border: 2px solid white;
    background : rgba(231,182,246,0.2);
    border-radius: 25px;
    z-index: 2;
}

#mineBtn:hover {
    box-shadow: 0 5px 25px rgba(231,182,246,0.3);
  }

#blackJackBtn{
    margin: 50px;
    height: 300px;
    width: 250px;
    border: 2px solid white;
    background : rgba(231,182,246,0.2);
    border-radius: 25px;
    z-index: 2;
}

#blackJackBtn:hover {
    box-shadow: 0 5px 25px rgba(243, 239, 244, 0.30);
  }

#blackjack{
    height: 200px;
    opacity: 1;
    margin-right: 2px;
    margin-top: 12px;
}

#titelblackjack{
    margin-top: 7px;
}

#bom{
    height: 200px;
    opacity: 1;
    margin-right: 20px;
}

/* button special effect */

.icon {
  position: relative;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: inline-block;
  
  margin: 25px 0 25px 25px;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 12px;
  font-family: sans-serif;
}
/**
 * The "shine" element
 */

 .icon:after {
  content: "";
  position: absolute;
  top: -110%;
  left: -210%;
  width: 200%;
  height: 200%;
  opacity: 0;
  transform: rotate(30deg);
  
  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right, 
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0.0) 100%
  );
}

/* Hover state - trigger effect */

.icon:hover:after {
  opacity: 1;
  top: -30%;
  left: -30%;
  transition-property: left, top, opacity;
  transition-duration: 0.7s, 0.7s, 0.15s;
  transition-timing-function: ease;
}

/* Active state */

.icon:active:after {
  opacity: 0;
}
/* ******************* */

@keyframes fa0 {
    0%   { opacity:1; }
    50%  { opacity:1; }
    51%  { opacity:0; }
    52%  { opacity:1; }
    100% { opacity:1; }
  }
  
  .f0 {
      animation: fa1 10s infinite;
      width: 2px;
          height: 2px;
  }
  
  @keyframes fa1 {
    0%   { opacity:1; }
    10%  { opacity:1; }
    21%  { opacity:0; }
    32%  { opacity:1; }
    100% { opacity:1; }
  }
  
  .f1 {
      animation: fa1 15s infinite;
      width: 1px;
          height: 1px;
  }
  
  @keyframes fa2 {
    0%   { opacity:.8; }
    75%  { opacity:.8; }
    85%  { opacity:0; }
    95%  { opacity:.8; }
    100% { opacity:.8; }
  }
  
  .f2 {
      animation: fa2 5s infinite;
      width: 2px;
          height: 2px;
  }
  
  @keyframes fa3 {
    0%   { opacity:.4; }
    11%  { opacity:.4; }
    32%  { opacity:0; }
    53%  { opacity:.4; }
    100% { opacity:.4; }
  }
  
  .f3 {
      animation: fa3 8s infinite;
      width: 1px;
          height: 1px;
  }
  
  @keyframes fa4 {
    0%   { opacity:.2; }
    50%  { opacity:.2; }
    61%  { opacity:0; }
    72%  { opacity:.2; }
    100% { opacity:.2; }
  }
  
  .f4 {
      animation: fa4 10s infinite;
      width: 3px;
          height: 3px;
  }
  
  @keyframes fa5 {
    0%   { opacity:.6; }
    20%  { opacity:.6; }
    51%  { opacity:0; }
    82%  { opacity:.6; }
    100% { opacity:.6; }
  }
  
  .f5 {
      animation: fa5 10s infinite;
    width: 1px;
      height: 1px;
  }
  
  @keyframes fa6 {
    0%   { opacity:.2; }
    50%  { opacity:.2; }
    51%  { opacity:0; }
    52%  { opacity:.2; }
    100% { opacity:.2; }
  }
  
  .f6 {
    animation: fa1 20s infinite;
    width: 2px;
      height: 1px;
  }
  
  @keyframes fa7 {
    0%   { opacity:.5; }
    50%  { opacity:.5; }
    60%  { opacity:0; }
    80%  { opacity:.5; }
    100% { opacity:.5; }
  }
  
  .f7 {
    animation: fa7 17s infinite;
    width: 1px;
      height: 2px;
  }
  
  @keyframes fa8 {
    0%   { opacity:.9; }
    20%  { opacity:.9; }
    51%  { opacity:0; }
    82%  { opacity:.9; }
    100% { opacity:.9; }
  }
  
  .f8 {
    animation: fa8 10s infinite;
    width: 2px;
      height: 2px;
  }
  
  @keyframes fa9 {
    0%   { opacity:.1; }
    70%  { opacity:.1; }
    75%  { opacity:0; }
    80%  { opacity:.1; }
    100% { opacity:.1; }
  }
  
  .f9 {
    animation: fa9 15s infinite;
    width: 2px;
      height: 2px;
  }
  
  .star {
      position: absolute;
      background:gold;
      /* background: #a7a9ac; */
      z-index: 0;
  }


